*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

/* GRID LAYOUT */
.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  padding: 20px;
  border: solid;
  
}

/* CARD BOX */
.recipe-card {
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  padding: 15px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  overflow: hidden;
  width: 300px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

/* CARD HOVER */
.recipe-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

/* IMAGE */
.recipe-image {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}


/* TITLE */
.recipe-card h2 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 10px;
}

/* INGREDIENT SECTION */
.recipe-card h4 {
  margin-top: 14px;
  margin-bottom: 4px;
  font-size: 1.1rem;
  color: #444;
}

.recipe-card ul {
  padding-left: 20px;
  margin-bottom: 14px;
}

.recipe-card li {
  color: #555;
  margin-bottom: 4px;
}

/* INSTRUCTIONS */
.recipe-card p {
  color: #444;
  line-height: 1.4;
}