
.navbar {
    display: flex;
    background-color: rgb(22, 119, 216);
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: left;
    padding-left: 1rem;    
}

a {
    color: whitesmoke;
    text-decoration: none;
    margin: 1rem;
    padding: 3px 10px;
    border-radius: 6px;
    transition: 0.2s;
}

a.active {    
    background-color: rgb(8, 98, 187);
    color: rgb(255, 255, 255);
    font-weight:600;
    border: solid 2px rgb(255, 255, 255);
}

a:hover {
    background-color: rgb(75, 147, 218);
   
}
